<!DOCTYPE html>
<html>
    <head>
        <script src="js/angular.js"></script>
        <!-- to use the 'ngRoute' module you need to load the angular-route library. -->
        <script src="js/angular-route.js"></script>
        <script src="js/controller.js"></script>
        <script src="https://code.angularjs.org/1.4.9/angular-cookies.js"></script>
        <title>Movie Search</title>
    </head>
    
<body ng-app="app">
    <div ng-controller="favouriteList">
    <div><center>{{ loginInfo }}</center></div>
    <div>
        <center>
            <table>
                <tr>
                    <td width="150"><a href="index.html">Search</a></td>
                    <td width="150"><a href="register.html">Register</a></td>
                    <td width="150"><a href="login.html">Login</a><td></td>
                    <td width="150"><a href="favourite.html">Favourite</a><td></td>
                    <td width="150"><a href="logout.html">Logout</a></td>
                </tr>
            </table>
        </center>
    </div>
    
    <table ng-repeat="movieObj in list" width="600">
        <tr>
            <td rowspan="3"><img src="{{ movieObj.poster }}" width="150" height="250"></td>
            <tr><td>Title: <br>{{ movieObj.title }}</td></tr>
            <tr><td>Description: <br>{{ movieObj.des }}</td></tr>
        </tr>
    </table>
    </form>
    
    
    </div>
</body>
</html>