<html>
    <head>
        <script src="js/angular.js"></script>
        <!-- to use the 'ngRoute' module you need to load the angular-route library. -->
        <script src="js/angular-route.js"></script>
        <script src="js/controller.js"></script>
        <script src="https://code.angularjs.org/1.4.8/angular-cookies.js"></script>
        <title>Movie Search</title>
    </head>
    
<body ng-app="app">
    <div ng-controller="register">
    <div><center>{{ loginInfo }}</center></div>
    <div>
        <center>
            <table>
                <tr>
                    <td width="150"><a href="index.html">Search</a></td>
                    <td width="150"><a href="register.html">Register</a></td>
                    <td width="150"><a href="login.html">Login</a><td></td>
                    <td width="150"><a href="favourite.html">Favourite</a><td></td>
                    <td width="150"><a href="logout.html">Logout</a></td>
                </tr>
            </table>
        </center>
    </div>
    
    
    
        <h3>{{ message }}</h3>
        <form ng-submit="register($user)">
            <table>
                <tr>
                    <td>User Name (ID):</td><td><input type="text" ng-model="user.username"></td>
                </tr>
                <tr>
                    <td>Real Name:</td><td><input type="text" ng-model="user.realname"></td>
                </tr>
                <tr>
                    <td>Password:</td><td><input type="password" ng-model="user.password"></td>
                </tr>
                <tr>
                    <td>E-mail:</td><td><input type="email" ng-model="user.email"></td>
                </tr>
                <tr><td><input type="submit" valuse="Register"></td><td></td></tr>
            </table>
        </form>
        {{ regStatus }}
    </div>
</body>
</html>
